<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> ♠ Black Jack </ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="start()" id="reset-btn">Reset</ion-button>
      <ion-button color="success"(click)="hit()" *ngIf="!blackJack.gameInfo.isOver" id="hit-btn">Hit</ion-button>
      <ion-button color="danger" (click)="stand()" *ngIf="!blackJack.gameInfo.isOver" id="stand-btn">Stand</ion-button
      >
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <div class="hands">
      <ion-grid
        scrollX="true"
        *ngFor="let player of [blackJack.dealer,blackJack.player]">
        <ion-row>
          <ion-col><h4>{{(player.isDealer ? 'Dealer' : 'Player')}}</h4></ion-col>
          <ion-col><h4>Score: {{player.score}}</h4></ion-col>
        </ion-row>
        <ion-row>
          <ion-card class="card {{(player.isDealer ? 'dealer' : 'player')}}" ngClass="{{card.suit}}" *ngFor="let card of player.hand">
            <span *ngFor="let iter of [0,1]"><p>{{card.rank}}</p><p>{{card.suit}}</p></span>
          </ion-card>
        </ion-row>
      </ion-grid>
    </div>
    <div class="mask" *ngIf="blackJack.gameInfo.isOver"></div>
    <ion-card class="gameover"*ngIf="blackJack.gameInfo.isOver">
      <ion-card-content>
        <p>Game Over {{blackJack.gameInfo.winner}} Wins!</p>
        <ion-button color="primary" (click)="start()">Reset</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
